@model GcApp.Models.Caminhao

@{
    ViewData["Title"] = "Detalhes do Caminhão";
}

<h3>Detalhes do Caminhão</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
         <dt class = "col-sm-2">
            Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloVeiculo.Modelo)
        </dd>
     
        <dt class = "col-sm-2">
            Ano de Fabricação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            Ano Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
           <dt class = "col-sm-2">
            Detalhes Técnicos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalhesTecnicos)
        </dd>
    </dl>
</div>
<div> 
    <a asp-action="Edit" class="btn btn-dark" role="button" asp-route-id="@Model.Id">Editar</a> 
    <a asp-action="Index"  class="btn btn-dark" role="button" >Voltar</a>
</div>
