@model IEnumerable<GcApp.Models.Caminhao>
@using GcApp.Controllers
@{
    ViewData["Title"] = "Caminhões";
}

<p>
    <a class="btn btn-dark" asp-action="Create"  role="button">Incluir Caminhão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Modelo
            </th>
            <th>
                Ano de Fabricação
            </th>
            <th>
                Ano Modelo
            </th>
            <th>
                Detalhes Técnicos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor( modelItem =>   item.ModeloVeiculo.Modelo )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesTecnicos)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Edit" type="button"  class="btn btn-secondary" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" type="button"  class="btn btn-secondary" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" type="button"  class="btn btn-secondary" asp-route-id="@item.Id">Excluir</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
