@model IEnumerable<GcApp.Models.Caminhao>
@using GcApp.Controllers
@{
    ViewData["Title"] = "Caminhões";
}

<p>
    
     <a asp-action="Create">Incluir Caminhão</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descriçãp
            </th>
            <th>
                Modelo
            </th>
            <th>
                Ano de Fabricação
            </th>
            <th>
                Ano Modelo
            </th>
            <th>
                Detalhes Técnicos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor( modelItem =>   item.ModeloVeiculo.Modelo )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesTecnicos)
            </td>
            <td>
                
                 <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
