@model GcApp.Models.ModeloVeiculo

@{
    ViewData["Title"] = "Modelo de Veículo";
}

<h3>Modelo de Veículo</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <input type="submit" asp-action="Index" value="Voltar" class="btn btn-primary"/>
</div>
